.library-cover {
  position: absolute;
  transform: translateX(-120%) rotateY(45deg);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  backdrop-filter: blur(2px);
  overflow-y: scroll;
  transition: 0.45s;
  .library-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1,
    svg {
      margin: 3rem 0;
      color: #fff;
      text-shadow: 0 0 5px black;
    }
    svg {
      cursor: pointer;
      transition: 0.1s;
      &:hover {
        color: rgb(207, 207, 207);
      }
    }
  }
}
.library-cover.closeLibrary {
  transform: translateX(-120%) rotateY(45deg);
}
.library-cover.openLibrary {
  transform: translateX(0%) rotateX(0deg);
}

.songs-box {
  display: grid;
  width: 85%;
  margin: auto;
  margin-bottom: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.card {
  background: rgba(245, 245, 245, 0.774);
  display: flex;
  cursor: pointer;
  border-radius: 12px;
  align-items: center;
  padding: 2rem 1rem;
  transition: 0.12s background linear;
  h3 {
    color: #333;
  }
  color: #333;
  img {
    width: 7rem;
    margin-right: 1.5rem;
  }
  .song-type {
    background: #ef233c;
    color: white;
    width: fit-content;
    font-size: 12px;
    font-weight: bold;
    padding: 0.3rem 0.6rem;
    border-radius: 20px;
    margin: 0.2rem 0;
  }
  &:hover {
    background: rgb(245, 245, 245);
  }
}
.card.selectedSong {
  background: rgb(170, 206, 253);
  transition: 0.12s;
  &:hover {
    background: rgb(192, 219, 255);
  }
}

.light {
  .library-cover {
    background: rgba(51, 51, 51, 0.384);
    .library-nav {
      h1,
      svg {
        color: #fff;
        text-shadow: 0 0 5px black;
      }
      svg {
        transition: 0.1s;
        &:hover {
          color: rgb(236, 236, 236);
        }
      }
    }
  }
}
@media (max-width: 1095px) {
  .songs-box {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  .songs-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .songs-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
